<!DOCTYPE html >
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://cdn.bootcss.com/echarts/3.8.5/echarts-en.common.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
</head>
<body>
<div id="app-8">
    <div id="main" style="width: 1500px;height:800px;"></div>
</div>
<script type="text/javascript">
</script>
</body>


<script>

    var app8 = new Vue({
        el: 'Dashboard-ui',
        data() {
            return {
                x: [],
                y: [],
                title: "😄😄😄😄10s/次 自动刷新😄😄😄😄"
            }
        },
        methods: {
            draw() {
                var option = {
                    tooltip: {
                        trigger: 'axis',
                        position: function (pt) {
                            return [pt[0], '100%'];
                        }
                    },
                    title: {
                        left: 'center',
                        text: this.title,
                    },
                    toolbox: {
                        feature: {
                            dataZoom: {
                                yAxisIndex: 'none'
                            },
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: this.x
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, '100%']
                    },
                    dataZoom: [{
                        type: 'inside',
                        start: 0,
                        end: 100
                    }, {
                        start: 0,
                        end: 100,
                        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                        handleSize: '80%',
                        handleStyle: {
                            color: '#fff',
                            shadowBlur: 3,
                            shadowColor: 'rgba(0, 0, 0, 0.6)',
                            shadowOffsetX: 2,
                            shadowOffsetY: 2
                        }
                    }],
                    series: [
                        {
                            name: 'Count',
                            type: 'line',
                            smooth: true,
                            symbol: 'none',
                            sampling: 'average',
                            itemStyle: {
                                normal: {
                                    color: 'rgb(255, 70, 131)'
                                }
                            },
                            areaStyle: {
                                normal: {
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgb(255, 158, 68)'
                                    }, {
                                        offset: 1,
                                        color: 'rgb(255, 70, 131)'
                                    }])
                                }
                            },
                            data: this.y
                        }
                    ]
                };

                // 使用刚指定的配置项和数据显示图表。
                this.myChart.setOption(option);
            }
        },
        watch: {
            //数据变化时自动重画，在控制台修改message,会自动重画
            x: function () {
                this.draw();
            },
            y: function () {
                this.draw();
            }

        },
        mounted() {
            this.$nextTick(function () {
                $this = this;
                setInterval(function (args) {
                    var promise = Vue.http({
                        url: 'http://localhost:8080/random_ajax',
                        method: 'GET',
                        headers: {
                            'Access-Control-Allow-Origin': '*'
                        }
                    });
                    promise.then(function (response) {
                        var body = response.body;
                        console.log(body);
                        $this.x = body.x;
                        $this.y = body.y;
                    });
                }, 5000);

                $this.myChart = echarts.init(document.getElementById('main'));
                $this.draw();
            });
        }
    });
</script>


</html>
